/*body{*/
/*    background-color: aquamarine;*/
/*}*/

.contact_us{
    max-width: 500px;
    margin: auto;
}
table tr td img{
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.list-group{
   background-color: #f7fafc;
    padding: 10px;

}
.list-group > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
}

a {
    text-decoration: none;
}
